*{
    color: white;
}
#contentDiv{
    display: flex;
    height: 100%;
    gap: 16px;
}
#leftBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 33%;
    height: 100%;
    margin-left: 5vw;
}
#leftBody>p{
    display: block;
    text-align: center;
    font-size: 18px;
}
#leftBody>p>a{
    transition: .5s;
    text-decoration: none;
    color: salmon;
}
#leftBody>p>a:hover{
    transition: .5s;
    font-size: 20px;
}
#rightBody{
    display: flex;
    flex-direction: column;
    width: 67%;
    height: 100%;
    margin-right: 5vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#projectList{
    list-style: none;
}
#myPic{
    width: 33%;
}
@media screen and (max-width: 600px) {
    #contentDiv{
        flex-direction: column;
        align-items: center;
    }
    #rightBody{
        width: 100%;
        margin-right: 8vw;
        margin-left: 8vw;
    }
    #leftBody{
        width: 100%;
        margin-right: 8vw;
        margin-left: 8vw;
    }
 }