<div id="contentDiv">
    <div id="leftBody">
        <img src="/assets/images/masonClark.png" id="myPic"/>
        <h3>About Mason:</h3>
        <p>My name is Mason Clark and I am a Software Developer based out of Arlington Virginia with a passion for developing state of the art
        applications and honing my skills as a programmer. Click <a href="assets/pdf/MasonClarkResume.pdf" target='_blank'>Here</a> to see my resume and learn a little more about <br> me and my
        journey to this point!
        </p>
    </div>
    <div id="rightBody">
        <app-projects-list></app-projects-list>
    </div>
</div>