#projectLinks{
    list-style: none;
}
#projectLinks>li>a{
    color: white;
    text-decoration: underline;
    text-decoration-color: salmon;
    transition: .5s;
}
#projectLinks>li>a:hover{
    color: salmon;
    text-decoration: underline;
    transition: .5s;
    text-decoration-color: white;
}
.curProject{
    display: active;
}
#projectList{
    list-style: none;
}
#projectsDiv{
    display: flex;
    flex-direction: column;
    gap: 16px;
}